{% extends "_layout.html" %}

{% block content %}

<body class="index-page">
<div>
    <div class="p-4">
        <h1 class="display-2 fw-bold bold-orange-title">Welcome To <span class="white-title">TRAINFIT</span></h1>
        <p class="lead fs-4 description">TrainFit is your ultimate fitness companion, meticulously crafted to streamline 
            your journey towards optimal health and well-being. With a seamless blend of advanced features and 
            user-friendly design, TrainFit empowers you to take control of your fitness goals like never before.
        {% if 'userID' not in session %}    
        Sign up to get started!</p>
        {% endif %}
    </div>
</body>
    {% endblock %}