{% extends "_layout.html" %}

{% block content %}

<body class="index-page">
<div>
    <div class="p-4">
        <h1 class="display-2 fw-bold bold-orange-title">Welcome To <span class="white-title">Admissions
        </span></h1>
        <p class="lead fs-4 description"> 
            Our <span style="color:#4011ffec;">mission</span> is to streamline and automate the admissions process for educational
            institutions. This secure, web-based application allows applicants to register, complete
            application forms, and upload required documents online. Admissions officers and
            administrative staff can efficiently review and process applications, reducing delays,
            administrative workload, and potential errors in data entry.
        </p>
        {% if 'userID' not in session %}    
        Sign up to get started!</p>
        {% endif %}
    </div>
</body>
    {% endblock %}